dist
dist-*
cabal-dev
*.o
*.o-boot
*.hi
*.hi-boot
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# HOPL3-specific #
##################

Parser.hs
Scanner.hs
Repl
Repl.exe
Interp
Interp.exe
Tester
Tester.exe

# Automatic backup files #
##########################

*.swp
*.bak
*~
